:root{
  --gold-1: #fbbf24;   /* light gold */
  --gold-2: #f59e0b;   /* gold */
  --gold-3: #d97706;   /* dark gold */

  --main: var(--gold-2);
  --bg: #f1f5f9;
  --card: #ffffff;
  --text: #000;
}

.dark{
  --bg: #0f172a;
  --card: #1e293b;
  --text: #fff;
}



 