:root {
    --blue-1: #eff6ff;
    --blue-2: #bfdbfe;
    --blue-3: #2563eb;
    --blue-4: #1e3a8a;

    --main: var(--blue-3);
    --bg: #f8fbff;
    --card: #ffffff;
    --text: #0f172a;
    --subtitle: #475569;
}

body.dark {
    --bg: #0f172a;
    --card: #1e293b;
    --text: #f8fafc;
    --subtitle: #cbd5e1;
}
